@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-gradient-to-r from-slate-950 to-slate-800 text-neutral-200
  }

  p {
    @apply text-sm text-neutral-400
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
}